default_env: &default_env
  project: yourproject-619858 # replace this
  credentials: /path/to/.gcloud/keyfile.json # replace this
  variables: 
    AUTH_CREDENTIALS: # Your {AccountSid}:{AuthToken}, base64-encoded
dev:
  <<: *default_env
prod:
  <<: *default_env