default_env: &default_env
  region: us-east-1 # Change this to another region if you'd like...
  variables: 
    AUTH_CREDENTIALS: # Your {AccountSid}:{AuthToken}
dev:
  <<: *default_env
prod:
  <<: *default_env