default_env: &default_env
  region: us-east-1
  account_id: 123456765432 # Your AWS Account ID
  queue_name: YtelChatbotOutboundSMS # QueueName
  auth_credentials: {AccountSid}:{AuthToken} # Base64 encoded Ytel API Credentials
  bot_name: 
  bot_alias:
dev:
  <<: *default_env
prod:
  <<: *default_env